

<!--
<app-signup></app-signup>
<app-login></app-login>
-->

<!--<h1>*ngFor in Angular</h1>

<ul>
    <li *ngFor="let student of students">
        {{student}}
    </li>

    <li *ngFor="let data of studentData">
         {{data.name}}, {{data.age}}

    </li>
</ul>

<h1>*ngSwitch in Angular</h1>


<div [ngSwitch]="color">
    <button (click)="changeColor('green')">Green</button>
    <button (click)="changeColor('red')">Red</button>
    <button (click)="changeColor('blue')">Blue</button>
    <button (click)="changeColor('yellow')">Yellow</button>
    <button (click)="changeColor('pink')">Pink</button>

    <h2 *ngSwitchCase="'green'" style="background-color: green;">Green colour</h2>
    <h2 *ngSwitchCase="'red'" style="background-color: red;">Red colour</h2>
    <h2 *ngSwitchCase="'blue'" style="background-color: blue;">Blue colour</h2>
    <h2 *ngSwitchCase="'yellow'" style="background-color: yellow;">Yellow colour</h2>
    <h2 *ngSwitchCase="'pink'" style="background-color: pink;">Pink colour</h2>
    <h2 *ngSwitchDefault="">No color Match</h2>

</div>
-->


<app-header></app-header>
<router-outlet />


<!--
<h1>Reactive Forms</h1>

<h2 style="color: darkturquoise;">SignUp Form</h2>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Enter Your Name" formControlName="name">
    <br><br>

    <input type="text" placeholder="Enter Password" formControlName="password">
    <br><br>
    
    <input type="text" placeholder="Enter Email ID" formControlName="email">
    <br><br>
    
    <input type="text" placeholder="Enter Address" formControlName="address">
    <br><br>
    
    <input type="number" placeholder="Enter Age" formControlName="age">
    <br><br>
    
    <select name="gender" id="">
        <option value="">Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
    
 <br><br>
    <h4>Experience</h4>
    <input type="range" min="0" max="20" name="range">

    <br><br>
    <button>Submit</button>

    <button type="button" (click)="setValue()">Reset Value</button>
</form>
<br>
<h2></h2>
<h2>Hello {{this.profileForm.value.name}}</h2>
<h2>Welcome to our Page</h2>

<h1>{{this.profileForm.value.email}}</h1>
<h1>{{this.profileForm.value.address}}</h1>
<h1>{{this.profileForm.value.age}}</h1>
-->